.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.break {
  @include media($xs) {
    display: none;
  }
}

.block-head {
  padding: 0;
  margin: 0;
  @include font(48px, 67px, $basic-family, bold);
  color: $block-head;

  @include media($md) {
    @include font(28px, 42px, $basic-family, bold);
    text-align: center;
  }
}

.description-text {
  @include font(16px, 24px);
  color: rgba($description-text, 0.5);
}

.test {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.5;
  z-index: 5;
}

svg {
  width: 24px;
  height: 24px;
}

