//bacgrounds
$nav-link: #fff; //nav__link
$linear-gradient-1: #c89afc; //header__link-cabinet
$linear-gradient-2: #7c6afa; //header__link-cabinet
$header-toggle-line: #fff; //header__toggle-line
$header-head: #fff; //header__head
$timer-number: #fff; //timer__number
$timer-area-bg: #121212; //timer__time-area
$statistics-bg: #121212; //statistics
$statistics__order-button-bg-1: #df5950; //statistics__order-button
$statistics__order-button-bg-2: #451046; //statistics__order-button
$students-amount-total: #fff; //students-amount__total
$range-earned-number:#fff; //range__earned-number
$scale-bg: #fff; //range__scale
$bar-bg-1: #DF5950;
$bar-bg-2: #451046;
$toggle-btn: #fff;
$header-bg: #121212;
$button: #fff;
$body-bg: #000;
$block-head: #fff;
$column-head: #fff;
$column-text: #fff;
$description-text: #fff;
$week-text: #fff;
$trainer-text: #fff;
$footer-bg: #fff;
$footer-text: #fff;
$button-hover-text: #000;
$button-hover-bg: #fff;
$form-subscription-color: #fff;
$partners-color: #fff;
$schedule-color: #fff;

//fonts
$basic-family: "Roboto", "Arial", "Helvetica", sans-serif;
$second-family: "Verdana", "Arial", "Helvetica", sans-serif;

//break-points
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1440px;
$xlg: 1920px;
