.about {
  margin-bottom: 200px;

  @include media($md) {
    margin-bottom: 50px;
  }
}

.about__container {
  display: flex;
  gap: 139px;
}

.about__wrapper {
  position: relative;
  width: 526px;
  height: 499px;

  @include media($md) {
    display: none;
  }
}

.about-img {
  position: absolute;
  top: 66px;
  left: 10px;
}

.about__text {
  width: 636px;
}

.about__head {
  margin-bottom: 45px;

  @include media($md) {
    margin-bottom: 15px;
  }
}

.about__paragraph {
  padding: 0;
  margin: 0;
  @include font(16px, 26px);
  color: $about-paragraph;

  @include media($md) {
    text-align: justify;
    @include font(12px, 22px);
  }
}
