.advantages {
  margin-bottom: 210px;

  @include media($md) {
    margin-bottom: 70px;
  }
}

.advantages__head {
  margin-bottom: 120px;
  text-align: center;

  @include media($md) {
    margin-bottom: 24px;
  }
}
