.advantages {
  margin-bottom: 225px;

  @include media($md) {
    margin-bottom: 30px;
  }
}

.advantages__head {
  margin-bottom: 120px;
  text-align: center;

  @include media($md) {
    margin-bottom: 15px;
  }
}
