// .columns {
//   display: flex;
//   gap: 24px;
// }

.column {
  position: relative;

  @include media($md) {
    padding-left: 100px;
    padding-bottom: 40px;
  }
}

.column__head {
  @include font(36px, 50px, $basic-family, bold);
  color: $column-head;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  // @include media($md) {
  //   @include font(26px, 40px, $basic-family, bold);
  // }
}

.column__area {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  @include media($md) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    margin-bottom: 0;
    height: auto;
    align-items: flex-start;
    justify-content: center;
  }
}

.column__area::before {
  content: "";
  flex-grow: 1;
  background: linear-gradient(94deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  height: 80px;

  @include media($md) {
    height: 100%;
    background: linear-gradient(0deg, $linear-gradient-2 9.5%, $linear-gradient-1 90%);
    width: 80px;
    flex-grow: 0;
  }
}

// .column:nth-child(1) .column__area::before {
// }

.column:nth-child(2) .column__area::before {
  background: linear-gradient(94deg, $linear-gradient-2 9.5%, $linear-gradient-1 90%);
  height: 60px;

  @include media($md) {
    height: 100%;
    width: 60px;
    background: linear-gradient(0deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  }
}

.column:nth-child(3) .column__area::before {
  height: 30px;

  @include media($md) {
    height: 100%;
    width: 30px;
  }
}


.column:nth-child(4) .column__area::before {
  background: linear-gradient(94deg, $linear-gradient-2 9.5%, $linear-gradient-1 90%);
  height: 10px;

  @include media($md) {
    height: 100%;
    width: 10px;
    background: linear-gradient(0deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  }
}

.column__description {
  @include font(14px, 22px);
  color: rgba($column-text, 0.5);
  margin: 0;
  padding: 0;
  padding-right: 24px;
  text-align: justify;

  @include media($md) {
    max-width: 700px;
  }
}
