.first-column__head {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.first-column__area {
  width: 324px;
  height: 80px;
  background: linear-gradient(94deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  margin-bottom: 35px;
}
