.form-subscription__email {
  border: none;
  max-width: 492px;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: space-around;
  background: rgba($footer-bg, 0.25);
  border-radius: 50px;
}

.form-subscription__email-label {
  flex-grow: 1;
}

.form-subscription__input {
  margin: 0;
  padding: 11px 100px 11px 30px;
  @include font(14px, 22px);
  color: $form-subscription-color;
  border: none;
  border-radius: 50px 0 0 50px;
  width: 100%;
  background-color: rgba($form-subscription-color, 0.25);

  &::placeholder {
    @include font(14px, 22px);
    color: $form-subscription-color;
  }
}


.form-subscription__button {
  width: 160px;
  flex-shrink: 0;
  border-radius: 50px;
  margin-left: -90px;

  @include media($xs) {
    width: 140px;
  }
}