.fourth-column__head {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.fourth-column__area {
  width: 324px;
  height: 10px;
  background: linear-gradient(94deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  margin-bottom: 70px;
}
