.graduates-amount {
  display: flex;
  gap: 30px;

  @include media($xs) {
    gap: 66px;
  }
}

.graduates-amount__total {
  @include font(16px, 24px);
  color: rgba($students-amount-total, 0.4);
}

.graduates-amount__total-number {
  @include font(16px, 24px, $basic-family, bold);
  color: $students-amount-total;
}