.header {
  background: $header-bg url(../img/header__img.jpg) top center/cover no-repeat;
  margin-bottom: 200px;

  @include media($lg) {
    margin-bottom: 70px;
  }

  @include media($md) {
    background-color: $header-bg;
  }

  @include media($xs) {
    margin-bottom: 30px;
  }
}

.header__logo {
  display: block;

  @include media($lg) {
    margin-right: 40px;
  }

  @include media($xs) {
    margin-right: 0;
  }
}

.header__top-panel {
  margin-bottom: 146px;

  @include media($md) {
    padding: 23px 25px;
    margin-bottom: 75px;
  }
}

.header__container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  padding: 40px 80px;
  align-items: center;

  @include media($lg) {
    justify-content: space-between;
    padding: 40px 20px;
  }

  @include media($md) {
    padding: 0;
  }
}

.header__nav {
  margin-left: auto;
  margin-right: 270px;

  @include media($lg) {
    margin: 0;
  }
}

.header__button-enter {
  @include media($lg) {
    margin-left: auto;
  }

  @include media($md) {
    // margin-left: auto;
    margin-right: 20px;
    background: transparent;
  }
}

.header__head {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  @include font(64px, 90px, $basic-family, bold);
  color: $header-head;

  @include media($md) {
    @include font(40px, 60px, $basic-family, bold);
  }

  @include media($xs) {
    @include font(30px, 45px, $basic-family, bold);
  }
}

.header__toggle {
  display: none;
  width: 32px;
  height: 32px;
  background-color: $header-bg;
  cursor: pointer;
  border: 0;
  z-index: 4;
  position: relative;


  @include media($md) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
  }
}

.header__toggle-line{
  height: 3px;
  background-color: $header-toggle-line;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: background-color .2s ease;
  &:after, &:before{
    content: ' ';
    position: absolute;
    inset: 0;
    background-color: $header-toggle-line;
    transition: transform .2s ease;
  }
  &:before{
    transform: translateY(-9px);
  }
  &:after{
    transform: translateY(9px);
  }
}

.header__toggle._active{
  .header__toggle-line{
    background-color: transparent;
  }
  .header__toggle-line:before{
    transform: translateY(0) rotate(45deg);
  }
  .header__toggle-line:after{
    transform: translateY(0) rotate(-45deg);
  }
}

.header__timer {
  margin-bottom: 218px;

  @include media($xs) {
    margin-bottom: 80px;
  }
}
