.partners {
  margin-bottom: 354px;

  @include media($md) {
    margin-bottom: 70px;
  }
}

.partners__head {
  margin-bottom: 92px;
  margin-left: 125px;
  position: relative;

  @include media($md) {
    margin: 0;
    margin-bottom: 24px;
  }
}

.partners__head::before {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  left: -142px;
  width: 90px;
  height: 44px;
  background: url(../img/ellipse.svg) no-repeat;
  transform: rotate(45deg);
  margin-right: 20px;

  @include media($md) {
    display: none;
  }
}

.partners__table {
  margin-left: 53px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1040px;

  @include media($md) {
    grid-auto-flow: column;
    overflow-x: auto;
    margin-left: 0;
  }

  @include media($xs) {
    // grid-template-columns: 1fr;
  }
}

.partners__link {
  border-right: 1px rgba($partners-color, 0.3) solid;
  border-bottom: 1px rgba($partners-color, 0.3) solid;
  cursor: pointer;
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 260px;

  @include media($md) {
    border-bottom: 0;
  }
}

.partners__link:nth-child(4n) {
  border-right: 0;

  @include media($md) {
    border-right: 1px rgba($partners-color, 0.3) solid;
  }
}

.partners__link:nth-child(4)~.partners__link {
  border-bottom: 0;
}

.partners__link:last-child {
  @include media($md) {
    border-right: 0;
  }
}

.partners__logo {
  max-width: 100%;
  object-fit: contain;
}