.program {
  margin-bottom: 230px;

  @include media($md) {
    margin-bottom: 70px;
  }
}

.program__head {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  position: relative;

  @include media($md) {
    margin-bottom: 24px;
  }
}

.program__head::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 145px;
  left: 602px;
  width: 90px;
  height: 44px;
  background: url(../img/ellipse.svg) no-repeat;
  transform: rotate(0);

  @include media($md) {
    display: none;
  }
}

.program__description {
  padding: 0;
  margin: 0;
  margin-bottom: 95px;
  text-align: center;

  @include media($md) {
    margin-bottom: 30px;
  }
}

.program__schedule {
  @include media($xs) {
    max-width: 320px;
    margin: 0 auto;
  }
}
