.schedule {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media($xs) {
    gap: 30px;
    margin-left: 20%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    background: linear-gradient(94deg, $linear-gradient-1 10%, $linear-gradient-2 90%);

    @include media($xs) {
      left: -13%;
    }
  }
}

.schedule__week {
  text-align: right;
  margin-right: 50%;
  padding-right: 60px;
  position: relative;

  @include media($xs) {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  &:before {
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    top: 47px;
    right: 0;
    background-color: #fff;

    @include media($xs) {
      width: 20px;
      right: 104%;
    }
  }
}

.schedule__week:nth-child(even) {
  text-align: left;
  margin-left: 50%;
  margin-right: inherit;
  padding-left: 60px;

  @include media($xs) {
    margin: 0;
    padding: 0;
  }

  &:before {
    left: 0;
    right: auto;

    @include media($xs) {
      left: -13%;
    }
  }
}