.start {
  margin-bottom: 204px;

  @include media($md) {
    margin-bottom: 70px;
  }
}

.start__head {
  margin-bottom: 49px;
  margin-left: 125px;
  position: relative;

  @include media($md) {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.start__head::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -110px;
  width: 90px;
  height: 44px;
  background: url(../img/ellipse.svg) no-repeat 0 0;
  transform: rotate(230deg);
  margin-right: 20px;

  @include media($md) {
    display: none;
  }
}

.start__text {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;

  @include media($md) {
    margin: 0 auto 32px auto;
    text-align: center;
    max-width: 470px;
  }
}

.start__break {
  @include media($md) {
    display: none;
  }
}