.statistics {
  background-color: $statistics-bg;
}

.statistics__container {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 35px;
  padding-bottom: 28px;

  @include media($md) {
    gap: 50px;
  }

  @include media($sm) {
    flex-direction: column;
    gap: 25px;
    align-items: stretch;
  }
}

.statistics__slider {
  flex-grow: 1;
}

.statistics__button-order {
  @include media($sm) {
    align-self: center;
  }

  @include media($xs) {
    align-self: stretch;
  }
}