.statistics {
  background-color: $statistics-bg;
}

.statistics__container {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 35px;
  padding-bottom: 28px;

  @include media($md) {
    gap: 50px;
  }
}

.statistics__slider {
  flex-grow: 1;
}
