.students-amount {
  display: flex;
  gap: 100px;

  @include media($md) {
    gap: 83px;
  }

  @include media($xs) {
    gap: 168px;
  }
}

.students-amount__total {
  @include font(16px, 24px);
  color: rgba($students-amount-total, 0.4);
}

.students-amount__total-number {
  @include font(16px, 24px, $basic-family, bold);
  color: $students-amount-total;
}
