.test {
  @include font(16px, 24px);
  @include media($lg) {
    @include font(32px, 48px, bold);
  }
}

.test-2 {
  @include font(16px, 24px, bold);
}

.test-3 {
  @include font(20px, 24px, $second-family);
}

.test {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.5;
  z-index: 5;
}