.third-column__head {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.third-column__area {
  width: 324px;
  height: 30px;
  background: linear-gradient(94deg, $linear-gradient-1 9.5%, $linear-gradient-2 90%);
  margin-bottom: 60px;
}
