.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include media($xs) {
    gap: 8px;
  }
}

.timer__time-area {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $timer-area-bg;
  text-align: center;


  @include media($md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.timer__number {
  @include font(36px, 50px, $basic-family, bold);
  color: $timer-number;

  @include media($md) {
    @include font(30px, 45px, $basic-family, bold);
  }

  @include media($xs) {
    @include font(18px, 27px, $basic-family, bold);
  }
}

.timer__amount {
  @include font(13px, 20px);
  color: rgba($timer-number, 0.4);
}